{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Bluugo Oy Search Engine</title>
		<link rel="stylesheet" href="{% static 'style.css' %}" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Akshar&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div class="content">
			<nav class="nav-bar">
				<a target="_blank" href="/">
					<img class="logo" src="{% static 'logo.png' %}" />
				</a>
			</nav>
			<div class="row-container">
				<div class="top-items-container">
					<div class="row-title">
						<h1>Upload material</h1>
					</div>
					<div class="upload-container">
						<p>Upload updated material:</p>
						<div class="action-btn-container">
							<form enctype="multipart/form-data" method="post" action="/">
								{% csrf_token %}
								<input
									type="submit"
									class="upload-btn"
									value="Add Data"
								/>upload {{ form }}
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row-container">
				<div class="row-title">
					<h1>Vehicle data</h1>
				</div>
				<div class="search-input-container">
					<input
						id="search"
						class="search-input"
						type="search"
						placeholder="Search..."
					/>
				</div>
			</div>

			<table>
				<tr>
					<th>Model Year</th>
					<th>Make</th>
					<th>Model</th>
					<th>Rejection Percentage</th>
					<th>Reason 1</th>
					<th>Reason 2</th>
					<th>Reason 3</th>
				</tr>
				<tbody id="tableBody"></tbody>
			</table>
		</div>
		<footer>
			<hr />
			<i>© Omar Abdelfattah Bluugo Oy 2022 </i>
		</footer>
	</body>
</html>
<script>
	let resp = '{{fileJs}}';
	let cars = JSON.parse(resp.replace(/&#x27;/g, '"'));
	let search = document.getElementById('search');
	let filteredArray = [];
	let tableBody = document.getElementById('tableBody');
	let initCars = [...cars];

	const createTable = (cars, tableBody) => {
		cars.splice(50);
		cars.map((car) => {
			tableBody.innerHTML += `
				<tr>
					<td>${car.fields.model_year}</td>
					<td>${car.fields.make}</td>
					<td>${car.fields.model}</td>
					<td>${car.fields.rejection_percentage}</td>
					<td>${car.fields.reason_1}</td>
					<td>${car.fields.reason_2}</td>
					<td>${car.fields.reason_3}</td>
				</tr>
			`;
		});
	};

	createTable(initCars, tableBody);
	search.addEventListener('keyup', (e) => {
		tableBody.innerHTML = '';
		let entry = e.target.value.toLowerCase();
		let searchArr = [];
		if (entry.trim().indexOf(' ') != -1) {
			searchArr = entry.trim().split(/\s+/);
		}
		if (searchArr.length > 0) {
			filteredArray = cars.filter(
				(car) =>
					car.fields.make.toLowerCase().includes(searchArr[0]) ||
					car.fields.model.toLowerCase().includes(searchArr[0])
			);
			if (filteredArray.length > 0) {
				let newSearch = [...searchArr];
				let tempArr = [...filteredArray];
				newSearch.shift();
				filteredArray = tempArr.filter((car) =>
					newSearch.some(
						(elem) =>
							car.fields.model.toLowerCase().includes(elem) ||
							car.fields.make.toLowerCase().includes(elem)
					)
				);
			}
		} else {
			filteredArray = cars.filter(
				(car) =>
					car.fields.make.toLowerCase().includes(entry.trim()) ||
					car.fields.model.toLowerCase().includes(entry.trim())
			);
		}
		if (filteredArray.length > 0) {
			createTable(filteredArray, tableBody);
		} else {
			tableBody.innerHTML = '<h3>No data found</h3>';
		}
	});
</script>
